@import 'includes/_global';

html,body, .masterContent{
    height: 100%;
}

.first-header{
    width: 100%;
    height: 100%;
    background: image-url('background-header.jpg') top center no-repeat;
    background-size: cover;
    .initial-banner{
        width: 100%;
        height: 100%;
        position: relative;
        h3{
            /*margin: 0 auto;
            padding: 370px 0 192px 0;
            display: table;*/
            height: 50%;
            width: 50%;
            overflow: hidden;
            margin: auto;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            img{
                margin: 0 auto;
            }
        }
    }
}
.second-header{
    .main-menu{
        font: 12px $open-sans-extra-bold;
        background: #3f3f3f;
        border: 0;
        border-radius: 0;
        li, li.active{
            a{
                margin: 20px 0px 0 10px;
                text-transform: uppercase;
                background: none;
                box-shadow: none;
                color: #FFF;
                text-shadow: none;
                &:hover{
                    box-shadow: none;
                    background-color: transparent;
                }
            }
            .logo{
                background-image: $sprite;
                @include sprite-dimensions($sprite,'logo');
                @include sprite($sprite,'logo');
                margin: 8px;
                margin-top: 0;
                margin-bottom: -25px;
                position: relative;
                text-indent: -999em;
                z-index: 10;
            }
        }
    }
}

.description{
    background: #eff3f3;
    margin-top: -25px;
    padding: 50px 0;
    float: left;
    .page-header{
        h2{
        max-width: 830px;
        margin: 0 auto;
        font: 22px $raleway-regular;
        color:#555555;
        letter-spacing: -1px;
            strong{
                font-family: $raleway-bold;
                color: #f9c741;
            }
        }
    }
    .services{
        ul{
            margin: 65px 0 0 0;
            list-style: none;
            li{
                max-width: 200px;
                text-align: center;
                margin: 0 13px;
                img{
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}
.works{
    background: #f9c741;
    padding: 50px 0;
    float: left;
    .page-header{
        text-align: center;
        color: #FFF;
        h2{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: -1px;
            font: 36px $raleway-bold;
            strong{
                color: #3f3f3f;
            }
        }
        p{
            max-width: 760px;
            margin: 0 auto;
        }
    }
    
    .menu-works{
        ul{
            li{
                font: 12px $open-sans-extra-bold;
                margin: 0 15px 15px 0;
                padding: 10px 20px;
                border: 2px solid #eff3f3;
                border-radius: 50px;
                color: #FFF;
                text-transform: uppercase;
                &:hover{
                    background: #3f3f3f;
                    border-color: #3f3f3f;
                    color: #f9c741;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
    
    .works-desc{
        img{
            max-width: 200px;
            margin: 20px 20px 0 0;
        }
    }
    .load-more{
        margin: 80px auto auto auto;
        display: table;
        border: 2px solid #eff3f3;
        border-radius: 50px;
        padding: 10px 20px;
        a{
            text-transform: uppercase;
            font: 12px $open-sans-extra-bold;
            color: #FFF;
        }
        &:hover{
            background: #3f3f3f;
            border-color: #3f3f3f;
            a{
                color: #f9c741;
                text-decoration: none;
            }
        }
    }
}

.maps{
    background: #FFF;
    position: relative;
    z-index: 10;
    iframe{
        width: 100%;
    }
}

.contact{
    background: #3f3f3f;
    padding: 50px 0;
    float: left;
    .page-header{
        text-align: center;
        color: #FFF;
        h2{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: -1px;
            font: 36px $raleway-bold;
            strong{
                color: #f9c741;
            }
        }
        p{
            max-width: 760px;
            margin: 0 auto;
        }
    }
    #contactForm{
        input, textarea{
            padding: 20px 15px;
            font: 14px $raleway-regular;
            color: #FFF;
            background: transparent;
            border: 5px solid #FFF;
            border-radius: 40px;
        }
        textarea{
            border-radius: 25px;    
        }
        .send{
            font: 12px $raleway-bold;
            background: #f9c741;
            text-transform: uppercase;
            border-radius: 40px;
            border: 0;
            color: #FFF;
            text-shadow: none;
            padding: 15px 0px;
        }
        
        ::-moz-placeholder{
            @include placeholder(14px);
        }
        ::-moz-placeholder{
            @include placeholder(14px);
        }
        ::-ms-input-placeholder{
           @include placeholder(14px);
        }
        ::-webkit-input-placeholder{
           @include placeholder(14px);
        }
    }
}
.footer{
    background: #f9c741;
    padding: 50px 0;
    float: left;
    img{
        margin: 0 55px 25px 0;
        max-height: 40px;
        float: left;
    }
}