/**
 * Fonts
 **/
@font-face {
  font-family: "openSansExtraBold";
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?") format("eot"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/Raleway-Regular/Raleway-Regular-webfont.eot");
  src: url("../fonts/Raleway-Regular/Raleway-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/Raleway-Regular-webfont.woff2") format("woff2"), url("../fonts/Raleway-Regular/Raleway-Regular-webfont.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular-webfont.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/Raleway-Bold/Raleway-Bold-webfont.eot");
  src: url("../fonts/Raleway-Bold/Raleway-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold/Raleway-Bold-webfont.woff2") format("woff2"), url("../fonts/Raleway-Bold/Raleway-Bold-webfont.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold-webfont.ttf") format("truetype"), url("../fonts/Raleway-Bold/Raleway-Bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Fonts variables
 **/
/**
 * Global Classes
 **/
/* line 16, ../sass/includes/_global.scss */
.row-centered {
  text-align: center;
}

/* line 19, ../sass/includes/_global.scss */
.col-centered {
  margin: 0 auto;
  float: none;
  display: table;
}

/* line 24, ../sass/includes/_global.scss */
.last {
  margin: 0 !important;
}

/* line 28, ../sass/includes/_global.scss */
textarea {
  resize: none;
}

/**
 * Bootstrap overflow
 **/
/* line 36, ../sass/includes/_global.scss */
.page-header {
  border-bottom: 0;
}

/* line 3, ../sass/globalstyles.scss */
html, body, .masterContent {
  height: 100%;
}

/* line 7, ../sass/globalstyles.scss */
.first-header {
  width: 100%;
  height: 100%;
  background: url('../images/background-header.jpg?1426043833') top center no-repeat;
  background-size: cover;
}
/* line 12, ../sass/globalstyles.scss */
.first-header .initial-banner {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 16, ../sass/globalstyles.scss */
.first-header .initial-banner h3 {
  /*margin: 0 auto;
  padding: 370px 0 192px 0;
  display: table;*/
  height: 50%;
  width: 50%;
  overflow: hidden;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 29, ../sass/globalstyles.scss */
.first-header .initial-banner h3 img {
  margin: 0 auto;
}

/* line 36, ../sass/globalstyles.scss */
.second-header .main-menu {
  font: 12px "openSansExtraBold", Arial, sans-serif;
  background: #3f3f3f;
  border: 0;
  border-radius: 0;
}
/* line 42, ../sass/globalstyles.scss */
.second-header .main-menu li a, .second-header .main-menu li.active a {
  margin: 20px 0px 0 10px;
  text-transform: uppercase;
  background: none;
  box-shadow: none;
  color: #FFF;
  text-shadow: none;
}
/* line 49, ../sass/globalstyles.scss */
.second-header .main-menu li a:hover, .second-header .main-menu li.active a:hover {
  box-shadow: none;
  background-color: transparent;
}
/* line 54, ../sass/globalstyles.scss */
.second-header .main-menu li .logo, .second-header .main-menu li.active .logo {
  background-image: url('../images/sprites-s9fdb4892cc.png');
  height: 114px;
  width: 86px;
  background-position: 0 -39px;
  margin: 8px;
  margin-top: 0;
  margin-bottom: -25px;
  position: relative;
  text-indent: -999em;
  z-index: 10;
}

/* line 69, ../sass/globalstyles.scss */
.description {
  background: #eff3f3;
  margin-top: -25px;
  padding: 50px 0;
  float: left;
}
/* line 75, ../sass/globalstyles.scss */
.description .page-header h2 {
  max-width: 830px;
  margin: 0 auto;
  font: 22px "ralewayregular", Arial, sans-serif;
  color: #555555;
  letter-spacing: -1px;
}
/* line 81, ../sass/globalstyles.scss */
.description .page-header h2 strong {
  font-family: "ralewaybold", Arial, sans-serif;
  color: #f9c741;
}
/* line 88, ../sass/globalstyles.scss */
.description .services ul {
  margin: 65px 0 0 0;
  list-style: none;
}
/* line 91, ../sass/globalstyles.scss */
.description .services ul li {
  max-width: 200px;
  text-align: center;
  margin: 0 13px;
}
/* line 95, ../sass/globalstyles.scss */
.description .services ul li img {
  margin: 0 auto;
  display: block;
}

/* line 103, ../sass/globalstyles.scss */
.works {
  background: #f9c741;
  padding: 50px 0;
  float: left;
}
/* line 107, ../sass/globalstyles.scss */
.works .page-header {
  text-align: center;
  color: #FFF;
}
/* line 110, ../sass/globalstyles.scss */
.works .page-header h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  font: 36px "ralewaybold", Arial, sans-serif;
}
/* line 115, ../sass/globalstyles.scss */
.works .page-header h2 strong {
  color: #3f3f3f;
}
/* line 119, ../sass/globalstyles.scss */
.works .page-header p {
  max-width: 760px;
  margin: 0 auto;
}
/* line 127, ../sass/globalstyles.scss */
.works .menu-works ul li {
  font: 12px "openSansExtraBold", Arial, sans-serif;
  margin: 0 15px 15px 0;
  padding: 10px 20px;
  border: 2px solid #eff3f3;
  border-radius: 50px;
  color: #FFF;
  text-transform: uppercase;
}
/* line 135, ../sass/globalstyles.scss */
.works .menu-works ul li:hover {
  background: #3f3f3f;
  border-color: #3f3f3f;
  color: #f9c741;
  cursor: pointer;
  text-decoration: none;
}
/* line 147, ../sass/globalstyles.scss */
.works .works-desc img {
  max-width: 200px;
  margin: 20px 20px 0 0;
}
/* line 152, ../sass/globalstyles.scss */
.works .load-more {
  margin: 80px auto auto auto;
  display: table;
  border: 2px solid #eff3f3;
  border-radius: 50px;
  padding: 10px 20px;
}
/* line 158, ../sass/globalstyles.scss */
.works .load-more a {
  text-transform: uppercase;
  font: 12px "openSansExtraBold", Arial, sans-serif;
  color: #FFF;
}
/* line 163, ../sass/globalstyles.scss */
.works .load-more:hover {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
/* line 166, ../sass/globalstyles.scss */
.works .load-more:hover a {
  color: #f9c741;
  text-decoration: none;
}

/* line 174, ../sass/globalstyles.scss */
.maps {
  background: #FFF;
  position: relative;
  z-index: 10;
}
/* line 178, ../sass/globalstyles.scss */
.maps iframe {
  width: 100%;
}

/* line 183, ../sass/globalstyles.scss */
.contact {
  background: #3f3f3f;
  padding: 50px 0;
  float: left;
}
/* line 187, ../sass/globalstyles.scss */
.contact .page-header {
  text-align: center;
  color: #FFF;
}
/* line 190, ../sass/globalstyles.scss */
.contact .page-header h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  font: 36px "ralewaybold", Arial, sans-serif;
}
/* line 195, ../sass/globalstyles.scss */
.contact .page-header h2 strong {
  color: #f9c741;
}
/* line 199, ../sass/globalstyles.scss */
.contact .page-header p {
  max-width: 760px;
  margin: 0 auto;
}
/* line 205, ../sass/globalstyles.scss */
.contact #contactForm input, .contact #contactForm textarea {
  padding: 20px 15px;
  font: 14px "ralewayregular", Arial, sans-serif;
  color: #FFF;
  background: transparent;
  border: 5px solid #FFF;
  border-radius: 40px;
}
/* line 213, ../sass/globalstyles.scss */
.contact #contactForm textarea {
  border-radius: 25px;
}
/* line 216, ../sass/globalstyles.scss */
.contact #contactForm .send {
  font: 12px "ralewaybold", Arial, sans-serif;
  background: #f9c741;
  text-transform: uppercase;
  border-radius: 40px;
  border: 0;
  color: #FFF;
  text-shadow: none;
  padding: 15px 0px;
}
/* line 227, ../sass/globalstyles.scss */
.contact #contactForm ::-moz-placeholder {
  font: 14px "ralewayregular", Arial, sans-serif;
  color: #FFF;
}
/* line 230, ../sass/globalstyles.scss */
.contact #contactForm ::-moz-placeholder {
  font: 14px "ralewayregular", Arial, sans-serif;
  color: #FFF;
}
/* line 233, ../sass/globalstyles.scss */
.contact #contactForm ::-ms-input-placeholder {
  font: 14px "ralewayregular", Arial, sans-serif;
  color: #FFF;
}
/* line 236, ../sass/globalstyles.scss */
.contact #contactForm ::-webkit-input-placeholder {
  font: 14px "ralewayregular", Arial, sans-serif;
  color: #FFF;
}

/* line 241, ../sass/globalstyles.scss */
.footer {
  background: #f9c741;
  padding: 50px 0;
  float: left;
}
/* line 245, ../sass/globalstyles.scss */
.footer img {
  margin: 0 55px 25px 0;
  max-height: 40px;
  float: left;
}
