/**
 * Fonts
 **/

// Open Sans Family
@font-face {
    font-family:"openSansExtraBold";
    src:
        url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?") format("eot"),
        url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"),
        url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"),
        url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
    font-weight:normal;
    font-style:normal;
}

// Raleway family
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway-Regular/Raleway-Regular-webfont.eot');
    src: url('../fonts/Raleway-Regular/Raleway-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular/Raleway-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Raleway-Regular/Raleway-Regular-webfont.woff') format('woff'),
         url('../fonts/Raleway-Regular/Raleway-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Raleway-Regular/Raleway-Regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/Raleway-Bold/Raleway-Bold-webfont.eot');
    src: url('../fonts/Raleway-Bold/Raleway-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Bold/Raleway-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Raleway-Bold/Raleway-Bold-webfont.woff') format('woff'),
         url('../fonts/Raleway-Bold/Raleway-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Raleway-Bold/Raleway-Bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

