@import '_fonts';
@import '_sprites';

/**
 * Fonts variables
 **/

$open-sans-extra-bold: 'openSansExtraBold',Arial,sans-serif;
$raleway-regular: 'ralewayregular',Arial,sans-serif;
$raleway-bold: 'ralewaybold',Arial,sans-serif;

/**
 * Global Classes
 **/

.row-centered {
    text-align:center;
}
.col-centered {
    margin: 0 auto;
    float:none;
    display: table;
}
.last{
    margin: 0 !important;
}

textarea {
    resize: none;
}

/**
 * Bootstrap overflow
 **/

.page-header{
    border-bottom: 0;
}


@mixin placeholder($font){
    font: $font $raleway-regular;
    color: #FFF;
}